


.container{
  
    background-color: #ffffff;
    width:960px;
    margin: 30px auto;
    
  
  }
 .main{
   clear: both;
   width: 960px;
   border: solid 2px #dddddd;
   clear: both;
   overflow: auto;
   
 }

.navigation{
  float:right;
  padding: 20px;
  margin-right: 150px;
}
header{
  background-color: #ffffff;
  height: 92px;
  border-bottom: solid 2px #cccccc;
  
}

.logo{
  font-family: 'Georgia', Times, Times New Roman, serif;
  background-color: #4aaaa5;
  color: #ffffff;
  float: left;
  width: 50px;
  padding: 20px; 
  margin-left: 150px;
  margin-top: 0px;
  
}

.aboutme{
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
}


.myself{
  height: 200px;
  width: 200px;
 float: left;
}

.content{
  
  
  
  overflow: auto;
}


footer{
  clear:both;
  background-color: #666666;
  text-align: center;
  padding: 20px;
}